#platzmacher{
	height: 2000px
}

/*komplette Dokument*/
	html, body{
		font-family: "open sans", sans-serif;
		margin: 0;
		height: 100%;
	}

/*1. Site*/
	header{
		height: 100%;
		width:100%;
		background-image: url(bilder/Hintergrund.jpeg);
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		position: relative;
		overflow: hidden;
	}

/*Logo*/

/*Schriftzug*/
	h1#danielmaurer{
		font-size: 60px;
		font-weight: 700;
		color: white;
		text-transform: uppercase;
		letter-spacing: 10px;
		text-align: center;
		position: absolute;
		width: 100%;
		margin: 0;
		top: 50%;
	}

	h1#danielmaurer span{
		display: inline-block;
		border: solid white 5px;
		border-radius: 5px;
		padding: 10px 5px;
		background-color: rgba(245,245,245,0.5);
	}

	/*Start Knopf*/
	#startknopf{
		font-size: 30px;
		font-weight: 500;
		letter-spacing: 4px;
		text-decoration: none;
		color: white;
		border: solid white 3px;
		border-radius: 5px;

	}

/*Navigations Menü*/
	#menü{
		height: 50px;
		
		
		

	}
	#menü ul{
		list-style: none;
		padding: 0;
		margin: 0;
		text-align: center;
		
	}
	#menü li{
		display: inline-block;
		margin: 0 5px;
		background-color: rgba(0,0,0,0.7);
		border-radius: 0 0 10px 10px;
	}
	#menü li:hover{
		opacity: 0.8
	}
	#menü a{
		text-decoration: none;
		text-transform: none;
		font-size: 30px;
		color: white;
		opacity: 0.8;
		line-height: 50px;
		padding: 10px 40px 9px 40px;
	}

	@media screen and (max-width: 800px){
		#menü{
			height: 200px;
			text-align: center;
			position: relative;
			
		}
		#menü ul{
			text-align: center;
			
			display: grid;
			grid-template-columns: 185px 185px;
  			grid-gap: 10px;
			margin-left: 20.9%;

			 
		}
		#menü li{
			
			margin: 5px 0;
			border-radius: 5px;
		}
		
	}
/*Über Mich Section 1*/
	#ubermich{
		text-align: center;
		padding: 50px 0;
		background-image: url();
		background-size: cover;
		background-attachment: fixed;
		
	}
	#ubermich h2{
		font-size: 40px;
		font-weight: 500;
		letter-spacing: 5px;

	}

	/*Avatar Bild*/
	#avatar{
		width: 20%;
		height: auto;
		margin-left:  40%;
	}

	#avatar img{
		width: 100%;
		height: 100%;


	}
	/*Über Mich Text*/

	#ubermich p{
		display: block;
		margin-top: 20px;
		width: 60%;
		height: auto;
		border-left: solid black 1px;
		border-right: solid black 1px;
	}

/*Gallerie Section 2*/

	















	



